:root {
   --width-left-content: 592px;
}

.wrapper {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.leftContent {
   width: var(--width-left-content);
   height: 100%;
   background-color: #f6f6f6;
   display: flex;
   align-items: center;
   flex-direction: column;
   color: #37474f;
   font-weight: 500;

   & .logo {
      margin: 70px 0px 50px 0px;
   }
   & .form {
      width: 400px;
   }
   & .heading {
      text-align: center;
      margin: 30px 0px 10px 0px;
      color: var(--color-gray-500);
      font-weight: 700;
      font-size: 22px;
   }
   & .label {
      margin-bottom: 6px;
      text-align: center;
   }
   & .input {
      width: 400px;
      border: 1px solid #ccc;
      outline: none;
      background-color: white;
      padding: 6px 8px;
      font-size: 16px;
      border-radius: 4px;
      color: #535261;
   }

   & div:nth-child(2) {
      margin-top: 16px;
   }

   & .forgotPassWord {
      opacity: 0;
      margin-top: 10px;
      color: var(--color-red);
      font-size: 14px;
      font-weight: 500;
   }
   & .forgotPassWord.showError {
      opacity: 1;
   }

   & .wrapper-btn {
      width: 400px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;
   }
   & .wrapper-btn .btn {
      padding: 8px 0px;
      border-radius: 8px;
      outline: none;
      font-weight: 700;
      font-size: 14px;
      width: 162px;
      text-align: center;
      cursor: pointer;
   }
   & .wrapper-btn .btn.btnCancel {
      color: var(--color-orange-400);
      background-color: transparent;
      border: 1px solid var(--color-orange-400);
   }
   & .wrapper-btn .btn.btnContinue {
      color: #fff;
      background-color: var(--color-orange-400);
      border: 1px solid transparent;
   }
}

.rightContent {
   position: relative;
   height: 100%;
   flex: 1;
   background-color: white;

   & svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}
