

/* Antd Select tag */
.ant-select.ant-select-single.ant-select-show-arrow {
   width: 300px;
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
   height: unset;
}
.ant-select.ant-select-single.ant-select-show-arrow .ant-select-selector {
   padding: 6px 12px;
   border-radius: 8px;
   border: 2px solid var(--color-gray-100);
}
.ant-select-arrow {
   display: none;
}
.ant-select-selection-item {
   color: var(--color-orange-400);
   font-weight: 600;
   font-size: 16px;
}

/* Antd pagination tag */
.ant-pagination {
   width: var(--width-table-content);
   text-align: right;
   margin-top: 20px;
}

.ant-pagination-item.ant-pagination-item {
   background-color: transparent;
   border-color: transparent;
   border-radius: 4px;
}
.ant-pagination-item a {
   color: var(--color-gray-400);
   font-size: 16px;
   font-weight: 600;
   border-radius: 4px;
}

.ant-pagination-item.ant-pagination-item-active {
   background-color: var(--color-orange-500);
   border-color: transparent;
   border-radius: 4px;
}
.ant-pagination-item-active a {
   color: #fff;
   font-size: 16px;
   font-weight: 600;
   border-radius: 4px;
}

.ant-pagination-item:hover a {
   color: #fff;
   background-color: var(--color-orange-500);
}
.ant-select.ant-pagination-options-size-changer.ant-select-single.ant-select-show-arrow {
   display: none;
}

.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-prev .ant-pagination-item-link {
   background-color: var(--color-orange-500);
   border-radius: 4px;
   color: #fff;
}

.ant-pagination-next .ant-pagination-item-link:hover,
.ant-pagination-prev .ant-pagination-item-link:hover {
   background-color: var(--color-orange-50);
   border-radius: 4px;
   border-color: var(--color-orange-500);
   color: var(--color-orange-500);
}

/* Select Date */
.selectDateGroup {
   display: flex;
   align-items: center;
   gap: 6px;
   width: 100%;
}
.selectDateGroup .selectDate-logoArrow {
   transform: rotate(270deg);
}
.selectDate.ant-picker {
   padding: 8px 12px;
   border-radius: 8px;
   border: 2px solid var(--color-gray-100);
   cursor: pointer;
}
.selectDate .ant-picker-input > input {
   color: var(--color-orange-500);
   font-weight: 600;
   font-size: 16px;
}

.selectDate .anticon > * {
   line-height: 1;
   font-size: 16px;
   color: var(--color-orange-500);
}

/* Popup */
.ant-picker-panel-container {
   border-radius: 8px;
}
.ant-picker-header {
   padding: 4px 8px;
}
.ant-picker-header-view button,
.ant-picker-header button {
   color: var(--color-orange-400);
   font-size: 16px;
   font-weight: 700;
}
.ant-picker-header-view button:hover,
.ant-picker-header button:hover {
   opacity: 0.8;
   color: var(--color-orange-500);
}
.ant-picker-cell-inner {
   font-weight: 600;
}
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner,
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
   color: #fff;
   background: var(--color-orange-500);
   border-radius: 2px;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner:before {
   border: none;
}
.ant-picker-today-btn {
   color: var(--color-orange-500);
   font-weight: 600;
   font-size: 16px;
}
