.wrapper {
   width: 100%;
   position: relative;
   transition: 0.1s ease;
   padding: 16px 0px 16px 20px;
   cursor: pointer;

   &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 90%;
      height: 2px;
      background-color: var(--color-gray-100);
   }
   & .user-name {
      font-size: 16px;
      font-weight: 700;
      color: var(--color-orange-600);
   }
   & .time {
      font-size: 16px;
      font-weight: 400;
      color: var(--color-gray-400);
      margin-top: 6px;
   }

   &:hover::after {
      background-color: transparent;
   }
   &:hover {
      background-color: var(--color-orange-50);
   }
}
