.wrapper {
      display: flex;
      align-items: center;
      padding: 0px 16px;
      width: 353px;
      height: 83px;
      background: #ffffff;
      box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
      border-radius: 12px;
      margin-top: 10px;
}

.progress-circle {
      position: relative;
      width: 60px;
      height: 60px;
      margin-right: 18px;
      & .circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
      }
      & .showPercent {
            position: absolute;
            top: 52%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 14px;
            font-weight: 700;
            color: var(--color-gray-400);
      }
      & .circle div {
            // wrapper circle
            display: inline-block;
      }

      & .circle div div {
            // circle
            display: inline-block;
      }

      & .circle div div svg {
            display: inline-block;
            stroke: var(--color-gray-50);
      }
      & .circle div div span {
            display: none;
      }
}

.info {
      text-align: left;
      margin-right: 18px;
      & h3 {
            font-size: 24px;
            font-weight: 800;
            color: var(--color-gray-400);
      }
      & div span:nth-child(1) svg {
            width: 14px;
            height: 14px;
      }

      & div span:nth-child(2) {
            font-size: 14px;
            font-weight: 600;
            position: relative;
            top: -1px;
            margin-left: 4px;
      }
}

.status {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      flex: 1;
      & p {
            font-size: 12px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
      }

      // title
      & p span:nth-child(2) {
            color: var(--color-gray-300);
            width: 104px;
            margin-left: 4px;
      }
      // quantity
      & p span:nth-child(3) {
            font-size: 14px;
            font-weight: 700;
      }
}
