.wrapper-content {
      padding: 16px 30px;
      width: var(--width-full-content);
      height: var(--height-content-children);
      background: #ffffff;
      box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
      border-radius: 16px;

      & .header-content {
            font-size: 20px;
            font-weight: 700;
            color: var(--color-orange-500);
            line-height: 30px;
      }

      .content {
            display: flex;
            justify-content: space-between;
            gap: 30px;
      }

      .content-left,
      .content-right {
            flex: 1;
      }
      .object {
            width: 100%;
      }
      .label {
            text-align: left;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            color: var(--color-gray-500);
            padding: 8px 0px;

            & .required {
                  color: var(--color-red);
            }
      }
      .input-field {
            width: 100%;
            background: #ffffff;
            font-weight: 600;
            font-size: 16px;
            color: var(--color-gray-400);
            padding: 8px 16px;
            border: 2px solid #d4d4d7;
            border-radius: 8px;
            outline: none;
      }
      .key {
            display: inline-block;
            text-align: left;
            font-size: 16px;
            font-weight: 600;
            line-height: 16px;
            color: var(--color-gray-400);
            padding: 10px 0px;
      }
      .value {
            width: 100%;
            text-align: left;
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: var(--color-gray-400);
            padding: 4px 0px;
      }

      & .listCheckbox {
            height: 420px;
            overflow-y: scroll;
            padding: 16px 24px;
            background-color: var(--color-orange-50);
            border-radius: 8px;
      }

      & .checkbox + .checkbox {
            margin: 10px 0px 0px 0px;
      }
      & .heading-checkbox {
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            color: var(--color-orange-500);
      }
}
.wrapper-btn {
      width: var(--width-full-content);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 12px;

      & .btn {
            padding: 10px 24px;
            border: 1.5px solid #ff9138;
            box-shadow: 0px 0px 6px #e7e9f2;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
      }
      & .btn.btn-btnCancel {
            background-color: var(--color-orange-50);
            color: var(--color-orange-500);
      }
      & .btn.btn-btnUpdate {
            background-color: var(--color-orange-500);
            color: #fff;
      }
}
.errorMessage {
      color: var(--color-red);
      font-weight: 600;
}
.errorMessage::before {
      display: inline;
      content: '⚠ ';
}
