.wrapper {
   position: relative;
}
.content-wrapper {
   position: relative;
}
.content {
   width: var(--width-table-content);
   display: inline-flex;
   align-items: center;
   justify-content: space-between;
}
.content .content-left,
.content-right {
   padding: 20px 20px;
   height: 550px;
   background: #ffffff;
   box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
   border-radius: 16px;
}
.content-left {
   width: 370px;

   & .header-content {
      font-size: 20px;
      font-weight: 700;
      color: var(--color-orange-500);
      line-height: 30px;
   }

   .double-object {
      display: flex;
      margin: 4px 0px;
   }
   .object {
      width: 100%;
   }
   .key {
      display: inline-block;
      width: 120px;
      text-align: left;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: var(--color-gray-500);
      padding: 10px 0px;
   }
   .value {
      width: 100%;
      text-align: left;
      text-align: left;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: var(--color-gray-400);
      padding: 4px 0px;
   }
}

.text-special {
   padding: 10px 12px;
   border: 2px solid var(--color-gray-100);
   border-radius: 6px;
}

.content-right {
   width: calc(var(--width-table-content) - 370px - 30px);
   margin-left: 30px;
}
.listSelect {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   & .select {
      width: 200px;
   }
   & .select.selectDate {
      flex: 1;
   }
   & .select .title {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      color: var(--color-gray-500);
      margin-bottom: 4px;
   }
   & .select div .input-content {
      width: 100%;
      padding: 8px 12px;
      border-radius: 8px;
      border: 2px solid var(--color-gray-100);
      color: var(--color-gray-400);
      font-weight: 600;
      outline: none;
      font-size: 16px;
   }

   & .select.search {
      text-align: right;
   }

   // Logo
   & .select div {
      position: relative;
   }

   & .select div .logo-arrow {
      position: absolute;
      top: 64%;
      right: 6%;
   }

   //    Input Search
   & .select.select.search .logo-arrow {
      position: absolute;
      top: 55%;
      right: 6%;
   }
   & .select.search div {
      display: inline-flex;
      flex-direction: column;
      text-align: left;
   }
}
